body {
background: #ffffff;
font-family:sans-serif;
margin: 0px;
}

div.top {
	background: linear-gradient(to bottom right, blue, pink);
	height: 7%;
	width: 100%;
	padding: 1px 1px 1px 1px;
}

p.campany {
text-align: center;
font-weight: bold;
color: #fff;
font-family: 'arial black';
}

div.bottom {
width: 100%;
background: #2e2e2e;
padding: 1px 1px 1px 1px;
}

p.bottom {
  text-align: center;
  color: rgb(153, 152, 152);
  font-size: 10px;
}

div.gawa {
border: #FFFFFF solid 2px;
margin: 10px;
width: max;
}

div.main-image {
background: #ffffff;
margin: auto;
   overflow: hidden;
border: 3px solid #DCDCDC;
width: 350px;
height: 200px;
}

 /*=== 画像の表示エリア ================================= */
.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 350px;
  height     : 200px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}
 
 /*=== 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 20s ease infinite;
}
 
 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 5s }
.slide img:nth-of-type(3) { animation-delay: 10s }
.slide img:nth-of-type(4) { animation-delay: 15s }
 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0 }
   4% { opacity: 1 }
  21% { opacity: 1 }
  25% { opacity: 0 }
 100% { opacity: 0 }
}

div.main1 {
background: #ffffff;
width: 80%;
   margin-top: 20px;
   overflow: hidden;
   margin-left: 10%;
}

div.main2 {
background: #000000;
width: 100%;
margin-top: -15%;
}


p.title {
  white-space: nowrap;
font-size: 28px;
background-color: #000;
color: #fff;
text-align: center;
font-family:'YuGothic',sans-serif;
font-weight: bold;
animation-name: animation-sample; /*--アニメーション名--*/
	animation-duration: 2s;　/*--時間--*/
  animation-fill-mode: forwards;
}

@keyframes animation-sample {
	0% {
    width: 0;
	}
	100% {
    width: 100%;
	}
}

p.bun {
color: #ffffff;
font-size: 15px;
text-align: left;
font-family:'YuGothic',sans-serif;
letter-spacing: 0.5em;
margin-top: 15%;
line-height: 2;
}

p.bun2 {
color: #ffffff;
font-size: 10px;
text-align: left;
font-family:'YuGothic',sans-serif;
letter-spacing: 0.5em;
line-height: 2;
}

p.bun3 {
color: #000000;
font-size: 10px;
text-align: left;
font-family:'YuGothic',sans-serif;
letter-spacing: 0.5em;
margin-top: 15%;
}

p.bun4 {
color: #000000;
font-size: 10px;
text-align: left;
font-family:'YuGothic',sans-serif;
letter-spacing: 0.5em;
}


div.chousei {
margin-left: 3%;
margin-right: 3%;
}

img.night {
width: 100%;
z-index: 9999;
}

*,*::before, *::after {
  box-sizing: border-box;
}


main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  margin-bottom: 20%;
}

ul.contents {
  width: 90%;
}

.contents li {
  position: relative;
  margin: auto;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
  list-style: none;
}

.contents li.show {
  opacity: 1;
  transform: none;
}

.contents li:not(:first-of-type) {
  margin-top: 300px;
}

.contents li:nth-of-type(odd) .contentsText {
  right: 0;
}

.contents li:nth-of-type(even) .contentsText {
  align-items: flex-start;
}

.contents li:nth-of-type(even) img {
  margin-left: auto;
}

.contents li:nth-of-type(odd) h2 {
  border-bottom: #525151 2px solid;
  border-left: #525151 2px solid;
}

.contents li:nth-of-type(even) h2 {
  border-bottom: #525151 2px solid;
  border-right: #525151 2px solid;
}

.contentsText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 80px;
}

.contents h2 {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(247, 247, 247, 0.8);
  padding: 5px 10px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  border-radius: 5px;
}

.contents p {
  line-height: 3;
  max-width: 80%;
  background: #fff;
  font-size: 10px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: left;
font-family:'YuGothic',sans-serif;
letter-spacing: 0.5em;
}

.contents img {
  width: 70%;
  border-radius: 5px;
  display: block;
}

div.main3 {
  background: #ffffff;
  width: 100%;
  margin-top: 90%;
  }

.rinen {
  white-space: nowrap;
    background-color: #000;
    margin-top: 20px;
  margin-left: 0;
  text-align: right;
  padding-right: 20px;
  font-size: 25px;
  max-width: 40%; 
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s;
  }

 .rinen.show3 {
    opacity: 1;
  transform: none;
  }

p.rinen {
  color: #fff;
  font-family:'YuGothic',sans-serif;
font-weight: bold;
margin-left: 20px;
}

div.rinenimage {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}

.rinenimage img {
  width: 100%;
}

.rinenimage p {
  font-family:'YuGothic',sans-serif;
letter-spacing: 0.5em;
line-height: 2;
font-size: 10px;
color: #000;
}

.rinenimage.show2 {
  width: 70%;
  opacity: 1;
  transform: none;
 margin: auto;
}

ul.contents2 {
  width: 90%;
}

.contents2 li {
  position: relative;
  margin: auto;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
  list-style: none;
}

.contents2 li.show {
  opacity: 1;
  transform: none;
}

.contents2 li:not(:first-of-type) {
  margin-top: 10px;
}

.contents2 li:nth-of-type(even) img {
  margin-left: auto;
}

.contents2 img {
  width: 70%;
  border-radius: 5px;
  display: block;
}

.customer {
background-color: #000;
margin: auto;
text-align: center;
max-width: 70%;
opacity: 0;
transition: 2s;
}

.customer.show4 {
  opacity: 1;
  }

.customer p {
  white-space: nowrap;
font-size: 20px;
color: #fff;
font-family:'YuGothic',sans-serif;
font-weight: bold;
}

.button {
  background: #000;
  width: 30%;
  text-align: center;
  margin: auto;
  color: #fff;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s;
  font-weight: bold;
}

.button.show5 {
  opacity: 1;
  transform: none;
}

.button:action {
  background: #fff;
  width: 30%;
  text-align: center;
  margin: auto;
  color: #000;
  border: #000 2px solid;
  font-weight: bold;
}


